.chats_page {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  /* padding: 10vh 0 0; */
  /* height: 75vh; */
}
.chats_page .partition {
  /* display: block;
  margin: auto; */
  min-height: 400px;
  /* height: 100%; */
  /* width: 100%; */
  /* border-radius: 10px; */
  overflow-y: auto;
  display: flex;
  /* justify-content: center; */
  /* margin-bottom: 24px; */
  /* padding: 5rem 0 0; */
}

.user_name {
  padding: 10px 0;
  background-color: rgb(219, 212, 212);
  display: grid;
  justify-content: center;
}

.chat_list {
  flex: 1;
  background-color: #cdd9f8;
  /* padding-top: 10vh;
  height: 90vh; */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(#a32100, #00a2a8); */
}

.chat_wrapper {
  height: 100%;
}
.chat {
  background-color: #f8f8f8;
  margin-top: 0.1rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.chat_window {
  flex: 3;
  height: 100%;
  width: 100vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* background-color: #2c0025; */
  background-image: linear-gradient(#0018a3, #9500a8);
}

.chat_window .top {
  background-color: #858585;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.chats_display {
  flex: 1;
  /* max-width: 900px; */
  /* margin: auto; */
  /* padding: 30px; */
  /* height: 100%; */
  /* border-radius: 10px; */
  /* overflow-y: scroll; */
  /* margin-bottom: 24px; */
}
.scroll-y {
  overflow-y: auto;
}
.message_box {
  /* background-color: #4e4949; */
  min-width: 38.4px;
  max-width: 70%;
  margin: 4px 10px;
}

.message_label {
  color: #dfeeea7e;
  font-size: 0.8rem;
}

.message {
  padding: 0;
  margin: 0;
  /* background-color: #ac5757; */
  padding: 10px;
  border-radius: 19.2px;
}
.left {
  float: left;
  clear: both;
}
.message_left {
  background-color: #7952b3;
  color: #dfeeea;
  margin-top: 2px;
}
.right {
  float: right;
  clear: both;
}
.message_right {
  background-color: #c8c6c6;
  color: #293b5f;
}
.middle {
  /* background-color: #73f3e2; */
  color: #ffffff;
  display: grid;
  float: unset;
  clear: both;
  border-radius: 5px;
  padding: 4px;
  max-width: 100%;
  justify-content: center;
}

.send {
  display: flex;
  height: 3rem;
  /* margin: 4px; */
}

#chats-messageInp {
  box-decoration-break: unset;
  flex: 1;
  min-height: 100%;
  border: 0;
  padding: 0 1rem;
}

#chats-btn {
  border-radius: 0;
  border: 0;
}

.noCurrentChat {
  color: #ffffff;
  margin-top: 3rem;
  font-size: 4rem;
  opacity: 0.4;
  align-self: center;
  cursor: default;
}

.addFriend {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0.1rem;
}

.addFriend input {
  padding: 0.4rem;
  margin: 0.2rem 0;
  box-decoration-break: unset;
  border: 0;
}